@model ERP_IMR.Models.Deneme.BSMIMRBOMHEADCONTENT

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BSMIMRBOMHEADCONTENT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCFROM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCFROM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCUNTIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCUNTIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISDELETED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISDELETED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISPASSIVE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISPASSIVE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DRAWNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DRAWNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTENTNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTENTNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPONENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPONENT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPBOMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPBOMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPBOMDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPBOMDOCNUM)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BOMDOCNUM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
