@model IEnumerable<ERP_IMR.Models.BSMIMRWCM001>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h4 {
        text-align: center;
        color: brown;
    }
</style>
<h4>İş Merkezi Tipi Destek Tablosu - WCM001</h4>
<p>
    <a asp-action="Create" title="Create">
        <i class="fa fa-plus"></i>
    </a>
</p>
<div class="box" style="border: 2px solid brown; border-radius: 5px; padding: 15px; position: relative;">
    <button onclick="window.location.href='@Url.Action("Index", "Support")';"
            style="position: absolute; top: 10px; right: 10px; background-color: transparent; border: none; font-size: 20px; cursor: pointer;">
        &times;
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Firma Kodu
                </th>
                <th>
                    İş Merkezi Tipi
                </th>
                <th>
                    İş Merkezi Tipi Açıklaması
                </th>
                <th>
                    Pasif Mi?
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COMCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOCTYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOCTYPETEXT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISPASSIVE)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.DOCTYPE" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                        |
                        <a asp-action="Details" asp-route-id="@item.DOCTYPE" title="Details">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        |
                        <a asp-action="Delete" asp-route-id="@item.DOCTYPE" title="Delete">
                            <i class="fa fa-trash"></i>
                        </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>