@model ERP_IMR.Models.Deneme.BSMIMRMATHEADTEXT

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BSMIMRMATHEADTEXT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCFROM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCFROM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCUNTIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCUNTIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUPPLYTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUPPLYTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STUNIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STUNIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NETWEIGHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NETWEIGHT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWUNIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWUNIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRUTWEIGHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRUTWEIGHT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BWUNIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BWUNIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISROUTE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISROUTE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROTDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROTDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROTDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROTDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISDELETED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISDELETED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISPASSIVE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISPASSIVE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LANCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LANCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATSTEXT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATSTEXT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATLTEXT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATLTEXT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MATDOCNUM" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
