@model ERP_IMR.Models.Deneme.BSMIMRROTHEADCONTENT

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BSMIMRROTHEADCONTENT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROTDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROTDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROTDOCFROM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROTDOCFROM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ROTDOCUNTIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ROTDOCUNTIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MATDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MATDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISDELETED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISDELETED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISPASSIVE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISPASSIVE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DRAWNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DRAWNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OPRNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OPRNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOMDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOMDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTENTNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTENTNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMPONENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMPONENT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WCMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WCMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WCMDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WCMDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OPRDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OPRDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SETUPTIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SETUPTIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MACHINETIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MACHINETIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LABOURTIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LABOURTIME)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ROTDOCNUM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
