@model ERP_IMR.Models.Deneme.BSMIMRCCMHEADTEXT

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BSMIMRCCMHEADTEXT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCMDOCFROM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCMDOCFROM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCMDOCUNTIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCMDOCUNTIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAINCCMDOCTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAINCCMDOCTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAINCCMDOCNUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAINCCMDOCNUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISDELETED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISDELETED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISPASSIVE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISPASSIVE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LANCODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LANCODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCMSTEXT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCMSTEXT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCMLTEXT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCMLTEXT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CCMDOCNUM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
