@model IEnumerable<ERP_IMR.Models.BSMIMRGEN005>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COMCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UNITTEXT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISMAINUNIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAINUNITCODE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COMCODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UNITTEXT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISMAINUNIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAINUNITCODE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UNITCODE">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UNITCODE">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UNITCODE">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
