@model IEnumerable<ERP_IMR.Models.BSMIMRGEN005>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" title="Create">
        <i class="fa fa-plus"></i>
    </a>
</p>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="box" style="border: 2px solid brown; border-radius: 5px; padding: 15px; position: relative;">
    <button onclick="window.location.href='@Url.Action("Index", "Support")';"
            style="position: absolute; top: 10px; right: 10px; background-color: transparent; border: none; font-size: 20px; cursor: pointer;">
        &times;
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Firma Kodu
                </th>
                <th>
                    Birim Kodu
                </th>
                <th>
                    Birim Adı
                </th>
                <th>
                    Ana Ağırlık Birimi
                </th>
                <th>
                    Ana Ağırlık Birim Kodu
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COMCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UNITCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UNITTEXT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISMAINUNIT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAINUNITCODE)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UNITCODE">Edit</a> |
                            <i class="fa fa-edit"></i>
                    <a asp-action="Details" asp-route-id="@item.UNITCODE">Details</a> |
                            <i class="fa fa-circle"></i>
                    <a asp-action="Delete" asp-route-id="@item.UNITCODE">Delete</a>
                            <i class="fa fa-trash"></i>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
</head>