@model IEnumerable<ERP_IMR.Models.BSMIMRGEN001>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style> 
    h4{
        text-align:center;
        color:brown;
    }
</style>
<h4>Firma Destek Tablosu - GEN001</h4>

<p>
    <a asp-action="Create" title="Create">
        <i class="fa fa-plus"></i>
    </a>
</p>
<head>
   
<div class="box" style="border: 2px solid brown; border-radius: 5px; padding: 15px; position: relative;">
    <button onclick="window.location.href='@Url.Action("Index", "Support")';"
            style="position: absolute; top: 10px; right: 10px; background-color: transparent; border: none; font-size: 20px; cursor: pointer;">
        &times;
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>
                   Firma Kodu
                </th>
                <th>
                   Adres1
                </th>
                <th>
                   Adres2
                </th>
                <th>
                    Şehir Kodu
                </th>
                <th>
                    Ülke Kodu
                </th
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COMTEXT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CITYCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COUNTRYCODE)
                </td>
                <td>
                     <a asp-action="Edit" asp-route-id="@item.COMCODE" title="Edit">
                            <i class="fa fa-edit"></i>
                    </a>
                    |
                    <a asp-action="Details" asp-route-id="@item.COMCODE" title="Details">
                        <i class="fa fa-info-circle"></i>
                    </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.COMCODE" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
</head>